{% macro raw(value) %}
{{ value }}
{% endmacro %}

{% macro text(value) %}
<p class="copy">{{ value | safe }}</p>
{% endmacro %}

{% macro subhead(value) %}
<h3 class="article-subheader copy">{{ value }}</h3>
{% endmacro %}

{% macro img(value) %}
<img src="img/{{ value.filename }}" alt="{{ value.alt }}" class="img-fluid">
{% endmacro %}
