{% extends '_layouts/base.njk' %}

{% set relative_path = "../"%}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-3">
        {% block info %}
          <img src="../img/{{ slug }}.jpg" alt="" class="img-fluid mb-4">
        {% endblock %}
      </div>
      <div class="col-sm-9">
        {% block blurb %}
          <h1>{{ title }}</h1>
          <p>{{ blurb | safe }}</p>
        {% endblock %}
      </div>
    </div>
  </article>
{% endblock %}
