{% extends '_layouts/base.njk' %}

{% block page_title %}{{ book.title }}{% endblock %}

{% block page_description %}{{ book.title }} by {{ book.author }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-3">
      {% block info %}
        <img src="img/{{ book.img }}" alt="" class="img-fluid">
        <p>{{ book.author }}</p>
      {% endblock %}
    </div>
    <div class="col-sm-9">
      {% block blurb %}
        <h1>{{ book.title }}</h1>
        <p>{{ book.blurb | safe}}</p>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}
