  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Interactive: {{ page_title }} - Statesman.com</title>
  <link rel="shortcut icon" href="{{ shortcut_icon }}" />
  <link rel="apple-touch-icon" href="{{ apple_touch_icon }}" />
  <link rel="canonical" href="http://apps.statesman.com/{{ url_endpoint }}" />
  <meta name="description" content="{{ page_description }}">

  <meta property='og:locale' content='en_US' />
  <meta property='og:site_name' content='Austin American-Statesman' />
  <meta property='fb:app_id' content='135078579956731' />
  <meta property='og:type' content='article' />
  <meta property='article:publisher' content='https://www.facebook.com/statesman' />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta property="og:image" content="{{ facebook_thumbnail }}" />
  <meta property="og:url" content="http://apps.statesman.com/{{ url_endpoint }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@aasinteractive" />
  <meta name="twitter:title" content="{{ page_title }}" />
  <meta name="twitter:description" content="{{ page_description }}" />
  <meta name="twitter:image" content="{{ twitter_thumbnail }}" />
  <meta name="twitter:url" content="http://apps.statesman.com/{{ url_endpoint }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lusitania:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  {% include "partials/metrics-head.html" %}
