{% extends '_layouts/base.njk' %}
{% from '_macros/prose.njk' import prose %}
{% set context = library %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Main headline</h1>

        {{ prose(context.intro, context, data) }}

        <h2>Books loop</h2>
        <ul>
          {% for book in library.books %}
            <li><a href="/books/{{book.slug}}.html">{{ book.title }}, {{ book.author }} </a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Independent bookstores in Austin</h2>
        <hr>
        {% for store in bookstores.stores %}
          <h3>
            <a href="{{ store.url }}" target="_blank">{{ store.name }}</a>
          </h3>
          <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}